*{
    margin: 0;
    padding: 0;
}
body{
	background-image: url(img/gta4bg.jpg);
	background-repeat: no-repeat;   
	background-size: unset;
	background-size: contain;
    background-size: cover;
}
h1{
	border: 3px solid rgb(11, 207, 37);
	background-color: rgb(54, 54, 54);
	color: rgb(255, 30, 0);
	margin-left: 20%;
	margin-right: 41%;
}
.list1{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list1 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list1 a:hover, .list2 a:hover, .list3 a:hover, .list4 a:hover, .list5 a:hover, .list6 a:hover, .list7 a:hover, .list8 a:hover, .list9 a:hover, .list10 a:hover, .list11 a:hover, .list12 a:hover, .list13 a:hover, .list14 a:hover, .list15 a:hover, .list16 a:hover, .list17 a:hover{
    color: #900c90;;
}
.list2{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list2 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list3{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list3 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list4{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list4 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list5{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list5 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list6{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list6 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list7{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list7 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list8{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list8 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.list9{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list9 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list10{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list10 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list11{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list11 a{
    text-decoration: none;
    color: white;
	transition: 0.3s;
}
.list12{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list12 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list13{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list13 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list14{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list14 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list15{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list15 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list16{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list16 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.list17{
    border: 3px solid rgb(135, 11, 207);
    background-color: rgb(54, 54, 54);
    color: white;
    margin-top: 5px;
    margin: 10px;
}
.list17 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.link2{     /* Grand Theft Auto Mods Quick Link */
	padding: 1%;
    margin-top: 1%;
}